<html>
<head>
<style>
body{
background:url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
	font-size:80px;
}
h2{
	font-size:50px;
}
p{
	font-size:30px;
}
</style>
</head>

<body>
<h1><center>Artificial Intelligence<center></h1>
<p>Artificial intelligence is a wide-ranging branch of computer science concerned with building smart machines capable of performing tasks that typically require human intelligence. It allows machines to model, and even improve upon, the capabilities of the human mind. From the development of self-driving cars to the proliferation of smart assistants like Siri and Alexa, AI is a growing part of everyday life.</p>

<center><img src="https://static.javatpoint.com/tutorial/ai/images/application-of-ai.png" width="400" height="327"></center>
<h2><a href="https://www.oracle.com/in/artificial-intelligence/what-is-ai/">Learn more</a></h2>
</body>
</html>