<html>
<head>
<style>
body{
background:url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
	font-size:80px;
}
h2{
	font-size:50px;
}
p{
	font-size:30px;
}
</style>
</head>

<body>
<h1><center>Cloud Computing<center></h1>
<p>Cloud computing is the on-demand delivery of IT resources through the internet with pay-to-use charges.
Instead of buying and maintaining computer products and services, you can pay to use a cloud computing service. It saves you the time, effort, and cost of doing it all by yourself!</p>
<center><img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20200710234318/Why-Cloud-Computing-is-Booming-in-the-Market.png" width="400" height="298"></center>
<h2><a href="https://aws.amazon.com/what-is-cloud-computing/">Learn more</a></h2>
</body>
</html>