<html>
<head>
<style>
h1{
	padding-left: 150px;
	padding-top:100px;
	font-size:80px;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(https://media.istockphoto.com/id/957373346/vector/pastel-ombre-millennial-pink-mint-gradient-background-abstract-spring-soft-blurry-template.jpg?s=612x612&w=0&k=20&c=WhTaV_xeo6AUu4qObGjI62H9cbByGYa4TUEb4_9XebU=) no-repeat;
    background-size: cover;
    background-position: center;
}
</style>
</head>
<body class="home">
<h1><center>Details Submitted Successfully!</center></h1></body>
</html>
