<html>
<head>
<style>
body{
background:url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
	font-size:80px;
}
h2{
	font-size:50px;
}
p{
	font-size:30px;
}
</style>
</head>

<body>
<h1><center>Cyber Security<center></h1>
<p>Cyber security is the practice of defending computers, servers, mobile devices, electronic systems, networks, and data from malicious attacks. It's also known as information technology security or electronic information security. The term applies in a variety of contexts, from business to mobile computing, and can be divided into a few common categories.</p>
<br>

<center><img src="https://newsonair.com/wp-content/uploads/2022/10/WhatsApp-Image-2022-10-13-at-18.13.09-696x392.jpeg" width="400" height="225"></center>
<h2><a href="https://www.itgovernance.co.uk/what-is-cybersecurity">Learn more</a></h2>
</body>
</html>