<html>
<head>
<style>
body{
background:url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
	font-size:80px;
}
h2{
	font-size:50px;
}
p{
	font-size:30px;
}
</style>
</head>

<body>
<h1><center>Data Science<center></h1>
<p>Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract or extrapolate knowledge and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of application domains. Data science is related to data mining, machine learning, big data, computational statistics and analytics.</p>
<center><img src="https://miro.medium.com/max/993/1*mgXvzNcwfpnBawI6XTkVRg.png" width="300" height="272"></center>
<h2><a href="https://www.simplilearn.com/tutorials/data-science-tutorial/what-is-data-science">Learn more</a></h2>
</body>
</html>