<html>
<head>
<style>
body{
background:url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
	font-size:80px;
}
h2{
	font-size:50px;
}
p{
	font-size:30px;
}
</style>
</head>

<body>
<h1><center>Full Stack Development<center></h1>
<p>Full stack development refers to the end-to-end application software development, including the front end and back end. The front end consists of the user interface, and the back end takes care of the business logic and application workflows. Full stack web developers have the ability to design complete web applications and websites. They work on the frontend, backend, database and debugging of web applications or websites.</p>
<center><img src="https://www.keycdn.com/img/support/full-stack-development.png" width="500" height="250"></center>
<h2><a href="https://www.geeksforgeeks.org/what-is-full-stack-development/">Learn more</a></h2>
</body>
</html>