<html>
<head>
<style>
h1{
	padding-top:150px;
	font-size:80px;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(https://wcm-cdn.wacom.com/-/media/images/discover-2020/elearning/wacom-elearning-home-tablets-for-teaching-f.jpg?h=573&iar=0&w=1400&rev=c75499ea46584a40858fee4215a0c613&hash=1B5BA0BD014AE846B57C4EC199C9AF0D) no-repeat;
    background-size: cover;
    background-position: center;
}
</style>
</head>
<body class="home" >
<h1><center>Invalid Login Credentials!</center></h1>

</body>

</html>
