<html>
<head>
<style>
body{
background:url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
	font-size:80px;
}
h2{
	font-size:50px;
}
p{
	font-size:30px;
}
</style>
</head>

<body>
<h1><center>Machine Learning<center></h1>
<p>Machine Learning is the field of study that gives computers the capability to learn without being explicitly programmed. ML is one of the most exciting technologies that one would have ever come across. As it is evident from the name, it gives the computer that makes it more similar to humans: <i><b>The ability to learn.</i></b> Machine learning is actively being used today, perhaps in many more places than one would expect.</p>
<br>

<center><img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/machineLearning3.png" width="400" height="280"></center>
<h2><a href="https://www.javatpoint.com/machine-learning">Learn more</a></h2>
</body>
</html>