<html>
<head>
<style>
body{
background:url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
	font-size:80px;
}
h2{
	font-size:50px;
}
p{
	font-size:30px;
}
</style>
</head>

<body>
<h1><center>Robotics<center></h1>
<p>Robotics is an interdisciplinary branch of computer science and engineering. Robotics involves design, construction, operation, and use of robots. The goal of robotics is to design machines that can help and assist humans. Robotics integrates fields of mechanical engineering, electrical engineering, information engineering, mechatronics, electronics, bioengineering, computer engineering, control engineering, software engineering, mathematics, etc.</p>
<center><img src="https://imageio.forbes.com/specials-images/imageserve/61d670b81998bdcbce034eac/0x0.jpg?format=jpg&width=1200" width="400" height="276"></center>
<h2><a href="https://www.toptal.com/robotics/programming-a-robot-an-introductory-tutorial">Learn more</a></h2>
</body>
</html>